export(rf_cpp_par)
export(rf_cpp)
export(rf_r_par)
export(rf_r)
importFrom(Rcpp, evalCpp)
importFrom(doParallel,registerDoParallel)
importFrom(foreach,"%dopar%")
importFrom(foreach,foreach)
importFrom(RcppRoll, roll_mean)
importFrom("utils", "head")
importFrom("utils", "tail")
useDynLib(rfpar, .registration=TRUE)